@import url('https://fonts.googleapis.com/css?family=EB+Garamond|Nunito|Quattrocento|Quattrocento+Sans|Roboto|Sorts+Mill+Goudy');

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

::-moz-selection {background-color: #FFDC4A;}
::selection {background-color: #FFDC4A;}

body {
    scroll-behavior: smooth;
}


/*menubar*/
.menubar {
    position: fixed;
    overflow: hidden;
    padding-right: 15%;
    top: 0;
    width: 100%;
    height: 70px;
    z-index: 1;
}

.menueach {
    float: right;
    display: block;
    padding: 24px 39px;
    border-right: 15px;
}

#nav {
    display: block;

    font-family: Roboto;
    text-decoration: none;
    letter-spacing: 1.4px;

}

#line {
    position: absolute;
    display: inline;
    border: solid #000;
    border-width: 2px 0 0 0;
    margin-top: 9px;
    margin-left: 3px;
    padding: 15px;
}

/*myid*/
.myid {
    position: fixed;
    overflow: hidden;
    width: 360px;
    height: 150px;
    top: 30%;
    left: 5%;
    margin-left: 12%;
    z-index: -1;

}

.myid a {
    position: absolute;

    font-family: Sorts Mill Goudy;
    font-size: 68px;
    line-height: 1;
}

#myidunderline {
    position: absolute;
    z-index: -2;

    bottom: 12%;

    width: 130px;
    height: 23px;
    background-color: #E6E6E6;
}


/*container*/
.container {
    margin-left: 40%;

}

.justsouknow {
    padding-left: 19%;
}

#whogap{
    height: 430px;
}

.who p {
    display: inline-block;

    font-family: Nunito;
}

#student {
    background-color: #FFDC4A;
    padding: 10px 21px 5px 10px;

    font-size: 18px;
    letter-spacing: 2px;
}

#at {
    color: #4d4d4d;
    padding: 10px 10px 5px 10px;

    font-size: 15px;
    letter-spacing: 2px;
}

#txwes {
    position: absolute;
    background-color: #304896;
    padding: 12px 20px 7px 12px;

    text-transform: uppercase;
    color: white;

    font-size: 16px;
    letter-spacing: 2px;
}

/**/
#gap {
    position: relative;
    height: 100px;
}

#semester {
    font-family: Roboto;
    font-size: 26px;
    font-weight: 800;
    letter-spacing: 1.8px;
    margin: 93px 0 48px 0;

    width: 157px;
    background-color: #fff;
}

.course {
    display: inline-block;
    position: relative;

    padding: 0px 0px 0 35px;
    margin-bottom: 15px;

    line-height: 100%;
    font-family: Garamond;
    font-size: 26px;
    font-weight: 600;

    text-decoration: none;
}

    #eng1301 div {
        position: absolute;
        z-index: -2;

        bottom: 1px;

        width: 160px;
        height: 9px;
        background-color: #E6E6E6;
    }

    #mco1302 div {
        position: absolute;
        z-index: -2;

        bottom: 1px;

        width: 270px;
        height: 9px;
        background-color: #E6E6E6;
    
    }


/**/
.info {

    position: relative;
    right: 180px;
    margin-top: 50px;

}

.they-read {
    float: left;
    
    font-family: Helvetica;
	font-size: 17px;
	font-weight: normal;
    letter-spacing: 0.3px;
    line-height: 170%;
    
    position: relative;
	padding: 10px 16px 6px 18px;
    
	background:#E5E5EA;
	border-radius: 11px;
	color: #000;
    
    margin-bottom: 10px;
}


.they-read::before {
		content:"";
		position:absolute;
		z-index:2;
		bottom:-2px;
		left:-7px;
		height:20px;
		border-left:20px solid #E5E5EA;
		border-bottom-right-radius: 16px 14px;
		-webkit-transform:translate(0, -2px);
    
}
.they-read::after {
		content:"";
		position:absolute;
		z-index:3;
		bottom:-2px;
		left:4px;
		width:26px;
		height:20px;
		background:white;
		border-bottom-right-radius: 10px;
		-webkit-transform:translate(-30px, -2px);
}

#email {
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 1.3px;
    font-weight: 600;
    
    margin-left: 7px;  
}


.text {
    padding-bottom: 145px;
    
    max-width: 320px;
}

.they-read img {
    width: 27px;
}